configuration.ini
facebook_app.ini
key.ini
data/tiktok_cookies/
data/fb_page/
modules/reels-uploader/node_modules/
modules/tiktok-uploader/
files/video/
files/images/
terbaru.txt
tmp/
tmp2/
tmp3/
render/
user/
command/theme.php